<div class="login-container">
  <div style="translate: 0 -1rem">
    <div class="logo">&#9901;</div>
    <h1>Pulse</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-field">
        <input formControlName="email" type="email" placeholder="Email" autocomplete="email">
      </div>
      <div class="form-field password-field">
        <input formControlName="password" [type]="showPassword() ? 'text' : 'password'" placeholder="Password" autocomplete="current-password">
        <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
          {{ showPassword() ? 'Hide' : 'Show' }}
        </button>
      </div>
      @if(errorMessage()){
        <small class="error-message">{{ errorMessage() }}</small>
      }
      <button type="submit" [disabled]="loginForm.invalid">Sign In</button>
    </form>
  </div>
</div>