header {
    margin-bottom: 1rem;
    text-align: center;
}

form {
    background-color: white;
    padding: 1.5rem;
    border-radius: 2rem 2rem 0 0;
}

.form-field {
    margin-bottom: 1rem;
}

.radio-group {
    border: none;
    display: flex;
    gap: 1rem;

    legend {
        font-size: 0.875rem;
        color: var(--clr-text-muted);
        padding-block: 0.25rem;
    }

    label {
        flex-grow: 1;
        border: var(--input-border);
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-size: 1rem;

        &.yes {
            background-color: color-mix(in srgb, var(--clr-success), #0000 90%);
        }

        &.no {
            background-color: color-mix(in srgb, var(--clr-error), #0000 90%);
        }

        &:has(input:checked) {
            border-color: var(--clr-primary);
            color: white;

            &.yes {
                background-color: var(--clr-success);
            }

            &.no {
                background-color: var(--clr-error);
            }
        }
    }
}

.autocomplete-list {
    box-shadow: 0 1px 8px #0004;
    border-radius: 0.75rem;
    padding-block: 0.5rem;
    max-height: 400px;
    overflow: auto;
}

.autocomplete-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.25rem 0.75rem;
    cursor: pointer;

    &:hover {
        background-color: var(--clr-primary-200);
    }
}

.client-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--clr-card-bg);
    padding: 1rem 1.25rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    position: relative;

    .name {
        font-size: 1.125rem;
    }

    .place {
        font-size: 0.875rem;
        color: var(--clr-text-muted);
    }

    asp-tag {
        position: absolute;
        right: 1rem;
        bottom: 0.5rem;
        opacity: 0.3;
    }
}