.call-list {
    background-color: white;
    margin-block: 1rem;
    border-radius: 1rem;
    padding-block: 0.5rem;
}

.name {
    font-size: 1.125rem;
}

.time-duration {
    font-size: 0.875rem;
    color: var(--clr-text-muted);
    align-items: baseline;
}

.add-call {
    position: absolute;
    bottom: 1.5rem;
    width: calc(min(100%, var(--container-width)) - 2 * var(--container-padding));
}