.total-card {
    padding-inline: 1rem;

    small {
        padding-inline: 0.5rem;
        color: var(--clr-text-muted);
    }
}

.total {
    display: inline-block;
    font-size: 1.65rem;
    font-weight: 600;
    line-height: 1;
}

.kpis {
    margin-block: 1rem;
    display: flex;
    gap: 1rem;
}

.kpi {
    flex-grow: 1;

    >div {
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.credit>div {
    color: var(--clr-success);
}

.debit>div {
    color: var(--clr-error);
}