.total-card {
    padding-inline: 1rem;

    small {
        padding-inline: 0.5rem;
        color: var(--clr-text-muted);
    }
}

.total {
    display: inline-block;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1;
}

.kpis {
    margin-block: 1rem;
    display: flex;
    gap: 1rem;
}

.kpi {
    flex-grow: 1;

    >div {
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.asp-list {
    margin-block: 1rem 6rem;
}

.asp-list-subtext {
    justify-content: space-between;

    button {
        padding-block: 0;
        font-size: 1rem;
    }
}

.asp-list-item button {
    width: fit-content;
    display: none;
}

.asp-list-item:hover button {
    display: block;
}

.add-transaction {
    position: fixed;
    bottom: 1.5rem;
    width: calc(min(100%, var(--container-width)) - 2 * var(--container-padding));
}

.credit {
    color: var(--clr-success);
}